altgraph==0.17
api==0.0.7
appdirs==1.4.4
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
distlib==0.3.1
docformatter==1.3.1
fastapi==0.60.1
filelock==3.0.12
future==0.18.2
h11==0.9.0
idna==2.10
iniconfig==1.0.1
more-itertools==8.4.0
nose==1.3.7
packaging==20.4
pefile==2019.4.18
pep8==1.7.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pydantic==1.6.1
PyInstaller==3.6
pyparsing==2.4.7
pypiwin32==223
PyQt5==5.13.2
PyQt5-sip==12.8.0
pyqt5-tools==5.13.2.1.6rc1
PyQt5Designer==5.14.1
pytest==6.0.1
python-dotenv==0.13.0
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
six==1.15.0
starlette==0.13.6
toml==0.10.1
unicorn==1.0.1
unify==0.5
untokenize==0.1.1
urllib3==1.25.10
uvicorn==0.11.7
virtualenv==20.0.28
vk==2.0.2
vk-api==11.8.0
websockets==8.1
